@import "../../../_variables.scss";

.Album {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100px;
}

.Name {
  font-size: 0.5rem;
}

.Image {
  border-radius: 4px;
  height: 100px;
  width: 100px;
}

.Copy {
  display: flex;
  justify-content: space-between;
}

.Link {
  color: $green;
  text-decoration: none;
}
