@import "../../_variables.scss";

.App {
  background: $background;
  color: white;
  height: 100%;
  min-height: 100%;
  font-family: $mont;
  text-align: center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100px;
  }
}

/* Standard syntax */
@keyframes fadein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100px;
  }
}

.default-copy {
  animation: fadein 4s;
  font-size: 1.8rem;
  margin-top: 70px;
}

.image-and-albums {
  background: $background;
}

.display {
  display: block;
}

.no-display {
  display: none;
}

.name {
  color: $green;
  font-weight: 400;
  padding: 0 0 20px 40px;
  text-align: left;
}

.genre {
  font-weight: 300;
  text-transform: capitalize;
}
