@import '../../_variables.scss';

.Image {
    border-radius: 5px;
    color: $black;
    height: 400px;
    margin:0 0 50px 40px;
    width: 400px;
    -webkit-box-shadow: 2px 3px 10px 0px rgba(64, 64, 64, 0.75);
    -moz-box-shadow: 2px 3px 10px 0px rgba(64, 64, 64, 0.75);
    box-shadow: 2px 3px 10px 0px rgba(64, 64, 64, 0.75);
}
