@import "../../_variables.scss";

.Image_wrapper {
  color: $black;
  height: auto;
  margin: 0 auto 50px;
  width: 55%;
  -webkit-box-shadow: 2px 3px 10px 0px rgba(64, 64, 64, 0.75);
  -moz-box-shadow: 2px 3px 10px 0px rgba(64, 64, 64, 0.75);
  box-shadow: 2px 3px 10px 0px rgba(64, 64, 64, 0.75);
}

.Image {
  border-radius: 5px;
  width: 100%;
}
