@import "../../_variables.scss";

.Albums_Wrapper {
  padding: 0 40px;

  h2 {
    margin-bottom: 10px;
    text-align: left;
  }
}

.Albums {
  // display: flex;
  // overflow: hidden;
  background: pink;
}
